@import "_variables.scss";
@import "_normalize.scss";
@import "_base.scss";
@import "_header.scss";
@import "_slider.scss";
@import "_form.scss";
@import "_icomoon.scss";
@import "_slick.scss";
@import "_slick-theme.scss";
@import "_animation.scss";
@import "_play-button.scss";




.arrow {
	background: url(../img/arrow.png) center top no-repeat;
	width: 394px;
	height: 106px;
	@media #{$bp-blarge} {
		width: 315px;
		height: 84px;
		background-size: cover;
	}
	@media #{$bp-large} {
		width: 235px;
		height: 62px;
		background-size: cover;
	}
	@media #{$bp-medium} {
		width: 177px;
		height: 46px;
	}
}
.arrow-2 {
	background: url(../img/arrow-2.png) center top no-repeat;
	width: 268px;
	height: 122px;
	position: absolute;
	left: 0;
	top: 90px;
	&_rotate {
		transform: rotate(90deg);
	}
	@media #{$bp-large} {
		width: 130px;
		height: 60px;
		background-size: cover;
	}
}

.section-1 {
	background: url(../img/section-1.jpg) center top no-repeat;
	background-size: cover;
	padding-top: 55px;
	padding-bottom: 140px;
	@media #{$bp-large} {
		padding-bottom: 80px;
	}
	@media #{$bp-medium} {
		padding-top: 25px;
		padding-bottom: 20px;
	}
	.phone-link {
		margin-top: 12px;
		@media #{$bp-medium} {
			margin-top: 0;
		}
	}
	header {
		position: relative;
		z-index: 2;
		.button{
			@media #{$bp-large} {
				margin-top: 5px !important;
				margin-bottom: 5px !important;
			}
		}
	}

	.block-shadow {
		margin-top: 260px;
		@media #{$bp-large} {
			margin-top: 80px;
		}
		@media #{$bp-medium} {
			margin-top: 100px;
		}
	}
	.catalog-img {
		position: relative;
		left: -100px;
		margin-top: -60px;
		@media #{$bp-blarge} {
			left: -30px;
			img {
				max-width: 100%;
				height: auto;
			}
		}
		@media #{$bp-large} {
			margin-top: -20px;
		}
	}
	.header-bottom-img {
		position: relative;
		margin-top: -170px;
		left: 20px;
		@media #{$bp-blarge} {
			margin-top: -120px;
			left: 0;
		}
		@media #{$bp-large} {
			max-width: 90%;
			margin-top: -90px;
		}
		@media #{$bp-medium} {
			margin-top: -50px;
		}
		img {
			max-width: 100%;
			height: auto;
		}
		.arrow {
			position: absolute;
			right: 30px;
			bottom: 40px;
			@media #{$bp-large} {
				left: 65%;
			}
			@media #{$bp-medium} {
				left: 70%;
				bottom: 25px;
			}
		}
	}
}

.header-top-img {
	position: absolute;
	right: 20px;
	top: -20px;
	@media #{$bp-blarge} {
		width: 60%;
	}
	@media #{$bp-medium} {
		right: 0;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.video-play {
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 3;
		transform: translateY(-55px)
	}
}

.logo {
	width: 292px;
	height: 67px;
	@media #{$bp-blarge} {
		width: 232px;
		height: 52px;
	}
	@media #{$bp-large} {
		width: 173px;
		height: auto;
	}
	@media #{$bp-medium} {
		width: 130px;
	}
	img {
		width: 100%;
		height: auto;
	}
}

.h-left {
	text-align: left;
	&__logo {
		margin-right: 25px;
		display: inline-block;
		vertical-align: middle;
	}
	&__text {
		font-family: $rbc;
		font-size: 14px;
		display: inline-block;
		vertical-align: middle;
		@media #{$bp-medium} {
			font-size: 10px;
		}
	}
}
.call-block {

	&__mail-link {
		color: #5aa632;
		font-size: 14px;
		font-weight: 700;
		@media #{$bp-large} {
			font-size: 12px;
		}
	}
}
.phone-link {
	font-family: $rbc;
	font-size: 26px;
	font-weight: 700;
	display: inline-block;
	position: relative;
	padding-left: 46px;
	@media #{$bp-blarge} {
		font-size: 21px;
	}
	@media #{$bp-large} {
		font-size: 16px;
		padding-left: 30px;
	}
	&__icon {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background: url(../svg/phone-icon.svg) center top no-repeat;
		width: 36px;
		height: 36px;	
		background-size: 100% 100%;	
		@media #{$bp-blarge} {
			width: 28px;
			height: 28px;
		}
		@media #{$bp-large} {
			width: 21px;
			height: 21px;
		}
	}
}
button {
	.icon-success {
		color: #fff;
		font-size: 10px;
		top: 53%;
		transform: translateY(-50%);
		@media #{$bp-medium} {
			top: 50%;
		}
	}
}
.button {
	display: inline-block;
	font-family: $fdc;
	text-align: center;
	color: white;
	font-weight: 400;
	text-shadow: 0 1px 0 #66885e;
	text-decoration: none;
	outline: none;
	border: none;
	border-bottom: 4px solid #397230;
	text-transform: uppercase;
	padding-top: 0;
	padding-bottom: 0;

	font-size: 16px;

	position: relative;
	text-align: center;

	background-image: 
	radial-gradient(147px 4px at 85.26% 830.77%, rgba(255, 255, 255, 0.5) 0%, transparent 100%), 
	linear-gradient(180deg, rgba(255, 255, 255, 0.13) 1%, transparent 99%), 
	radial-gradient(402px 32px at 86.61% 830.77%, rgba(255, 255, 255, 0.22) 0%, transparent 100%), 
	linear-gradient(180deg, #6eb623 0%, #49983f 100%);
	border-radius: 5px 5px 9px 9px;
	box-shadow: 0 4px 15px 0px rgba(18, 36, 15, .3), 0 1px 0 rgba(19, 50, 14, 0.72), inset 0 -1px 1px #397a30;

	@media #{$bp-medium} {
		border-bottom-width: 2px;
	}


	&_font_sm {
		font-size: 13px !important;
		@media #{$bp-blarge} {
			font-size: 13px !important;
			letter-spacing: .2px !important;
		}
		@media #{$bp-large} {
			font-size: 10px !important;
			letter-spacing: 0 !important;
		}
		@media #{$bp-medium} {
			font-size: 8px !important;
		}
	}
	&_text_s {
		font-size: 13px;
	}

	&_size_s {
		padding: 9px 20px 7px;
		font-size: 10px;
		letter-spacing: 0.92px;
		@media #{$bp-blarge} {
			padding: 8px 14px 4px;
		}
		@media #{$bp-large} {
			font-size: 9px;
			padding: 7px 10px 3px;
		}
	}
	&_size_lg {
		padding-left: 35px;
		padding-right: 35px;
		line-height: 70px;
		height: 70px;
		border-bottom-width: 6px;
		position: relative;
		z-index: 2;
		letter-spacing: 2.4px;
		@media #{$bp-blarge} {
			height: 60px;
			line-height: 60px;
			font-size: 13px;
			letter-spacing: 1.95px;
		}
		@media #{$bp-large} {
			height: 44px;
			line-height: 44px;
			font-size: 12px;
			letter-spacing: 1.4px;
			padding-left: 15px;
			padding-right: 15px;
		}
		@media #{$bp-medium} {
			height: 36px;
			line-height: 36px;
			font-size: 10px;
			padding-left: 13px;
			padding-right: 13px;
			letter-spacing: 1.17px;
			border-bottom-width: 2px;
		}
	}
	&_sm {
		height: 60px;
		line-height: 60px;
		padding-left: 30px;
		padding-right: 30px;
		letter-spacing: 2.4px;
		@media #{$bp-blarge} {
			height: 50px;
			line-height: 50px;
		}
		@media #{$bp-large} {
			height: 35px;
			line-height: 35px;
			font-size: 12px;
			letter-spacing: 1.8px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	&_md {
		height: 65px;
		line-height: 65px;
		padding-left: 35px;
		padding-right: 35px;
		letter-spacing: 2.4px;
		@media #{$bp-blarge} {
			height: 50px;
			line-height: 50px;
		}
		@media #{$bp-large} {
			height: 40px;
			line-height: 40px;
			font-size: 12px;
			letter-spacing: 1.8px;
			padding-left: 20px;
			padding-right: 20px;
		}
		@media #{$bp-medium} {
			height: 30px;
			line-height: 30px;
			font-size: 10px;
			letter-spacing: 1.5px;
		}
	}

}




.block-shadow {
	background-color: white;
	box-shadow: 0 2px 27px rgba(0, 0, 0, 0.09);
	position: relative;
	z-index: 2;
}




.top-info {
	&__main-title {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	&__padding {
		padding: 50px 0 79px;
		@media #{$bp-medium} {
			padding: 24px 0 20px;
		}
	}
}
.text-bg {
	font-size: 59px;
	font-weight: 700;
	line-height: 60px;
	font-family: $rbc;
	position: relative;
	@media #{$bp-blarge} {
		font-size: 48px;
		line-height: 52px;
	}
	@media #{$bp-large} {
		font-size: 34px;
		line-height: 36px;
	}
	@media #{$bp-medium} {
		font-size: 24px;
		line-height: 25px;
		margin: 0 0 5px 0;
	}
}
.text-sm {
	font-size: 20px;
	font-family: $rbc;
	font-weight: 400;
	@media #{$bp-medium} {
		font-size: 13px;
	}

}
.list-adv {
	text-align: left;
	&__item {
		margin-right: 30px;
		@media #{$bp-large} {
			margin-right: 8px;
		}

		&:last-child {
			margin-right: 0;
		}
		&> div{
			margin-right: 10px;
			@media #{$bp-large} {
				margin-right: 5px;
			}
		}		
	}

	
}

.use-scope {
	float: left;
	width: 17%;
	text-align: left;
	@media #{$bp-large} {
		width: 19%;
	}
	@media #{$bp-medium} {
		width: 22%;
	}
	&__header {
		color: #6e6e6e;
		text-align: center;
		font-size: 19px;
		padding: 10px 0px;
		background-color: #f9f9f9;
		margin-bottom: 58px;
		@media #{$bp-blarge} {
			font-size: 15px;
		}
		@media #{$bp-large} {
			font-size: 11px;
			margin-bottom: 40px;
		}
		@media #{$bp-medium} {
			font-size: 10px;
			margin-bottom: 25px;
		}
	}
}

.use-list {
	text-align: left;
	border: 1px solid #eaeaea;
	border-radius: 20px;
	padding-left: 35px;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
	@media #{$bp-blarge} {
		padding-left: 22px;
		padding-top: 30px;
		padding-bottom: 25px;
	}
	@media #{$bp-large} {
		padding-left: 18px;
		padding-bottom: 20px;
	}
	@media #{$bp-medium} {
		padding-left: 13px;
		padding-bottom: 18px;
		padding-top: 20px;
	}
	&:before {
		content: 'Области применения:';
		position: absolute;
		display: inline-block;
		text-align: center;
		top: 0;
		left: 30px;
		right: 30px;
		background-color: #fff;
		transform: translateY(-50%);
		font-size: 14px;
		line-height: 17px;
		color: rgba(31,31,31, .34);
		@media #{$bp-blarge} {
			font-size: 12px;
		}
		@media #{$bp-medium} {
			font-size: 10px;
			line-height: 12px;
		}
	}
	&__circle {
		margin: 30px 0;
		@media #{$bp-blarge} {
			margin: 20px 0;
		}
		@media #{$bp-large} {
			margin: 15px 0;
		}
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__circle > div {
		margin-right: 20px;
		@media #{$bp-large} {
			margin-right: 5px;
		}
	}
	& > &__circle {
		display: block;
	}
	[class*='icon-']::before {
		font-size: 24px !important;
		@media #{$bp-blarge} {
			font-size: 20px !important;
		}
		@media #{$bp-large} {
			font-size: 15px !important;
		}
		@media #{$bp-medium} {
			font-size: 12px !important;
		}
	}
}
.main-circle {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 4;
	p {
		margin: 0;
		padding: 0;
		font-size: 16px;
		font-weight: 500;
		line-height: 19px;
		display: inline-block;
		vertical-align: middle;
		@media #{$bp-blarge} {
			font-size: 13px;
			line-height: 14px;
		}
		@media #{$bp-large} {
			font-size: 10px;
			line-height: 12px;
		}
		@media #{$bp-medium} {
			display: block;
			margin-top: 7px;
		}
		&.text_sm {
			color: rgba(31,31,31, .6);
			font-size: 14px;
			@media #{$bp-large} {
				font-size: 12px;
				line-height: 14px;
			}
			@media #{$bp-medium} {
				font-size: 11px;
				line-height: 12px;
			}
			@media #{$bp-medium} {
				display: inline-block;
			}
		}
	}
	&__circle {
		width: 60px;
		height: 60px;
		background-color: #ff9f00;
		position: relative;
		text-align: center;
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
		@media #{$bp-blarge} {
			width: 48px;
			height: 48px;
		}
		@media #{$bp-large} {
			width: 36px;
			height: 36px;
		}
		@media #{$bp-medium} {
			width: 20px;
			height: 20px;
		}
		&[class*='icon-']::before {
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			font-size: 28px;
			@media #{$bp-blarge} {
				font-size: 23px;
			}
			@media #{$bp-large} {
				font-size: 20px;
			}
			@media #{$bp-medium} {
				font-size: 11px;
			}
		}
		&_size_md:before {
			font-size: 33px !important;
			@media #{$bp-blarge} {
				font-size: 28px !important;
			}
			@media #{$bp-large} {
				font-size: 24px !important;
			}
			@media #{$bp-medium} {
				font-size: 14px !important;
			}
		}
		&_small {
			width: 50px;
			height: 50px;
			@media #{$bp-blarge} {
				width: 40px;
				height: 40px;
			}
			@media #{$bp-large} {
				width: 30px;
				height: 30px;
			}
			@media #{$bp-medium} {
				width: 22px;
				height: 22px;
			}
		}
		&_xsmall {
			width: 56px;
			height: 56px;
			@media #{$bp-blarge} {
				width: 44px;
				height: 44px;
			}
			@media #{$bp-large} {
				width: 34px;
				height: 34px;
				&:before {
					font-size: 15px !important;
				}
			}
			@media #{$bp-medium} {
				width: 26px;
				height: 26px;
				&:before {
					font-size: 11px !important;
				}
			}
		}
	}
}



.icon-button-book {
	margin-right: 20px;
	vertical-align: middle;
	vertical-align: top;
	font-size: 13px;

	@media #{$bp-blarge} {
		margin-right: 12px;
		font-size: 11px;
	}
	@media #{$bp-medium} {
		margin-right: 6px;
	}
	&:before {
		@media #{$bp-large} {
			font-size: 10px;
		}
		@media #{$bp-medium} {
			font-size: 8px;
		}
	}

}


.section-catalog-photo {
	padding: 120px 0 153px;
	@media #{$bp-large} {
		padding: 65px 0 100px;
	}
	@media #{$bp-medium} {
		padding: 32px 0;
	}
	.form-wrap__title {
		@media #{$bp-large} {
			font-size: 13px;
			line-height: 16px;
		}
	}
	.block-shadow {
		margin-top: 30px;
	}
	.price-img {
		position: relative;
		@media #{$bp-blarge} {
			max-width: 90%;
		}
		img {
			top: 0;
			max-width: 100%;
			height: auto;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility:    hidden;
			-ms-backface-visibility:     hidden;
			-webkit-transform: translate3d(0,0,0);
			-moz-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
		}
		.arrow {
			position: absolute;
			bottom: -70px;
			right: -80px;
			@media #{$bp-medium} {
				bottom: -50px;
				right: -40px;
			}
		}
	}
}



.get-free {
	&__sub {
		margin-top: 10px;
	}
	&_pd {
		padding: 38px 40px 56px;
		@media #{$bp-blarge} {
			padding: 33px 30px;
		}
		@media #{$bp-large} {
			padding: 28px 25px;
		}
		@media #{$bp-medium} {
			padding: 15px 10px;
		}
	}
	&__title {
		color: #272727;
		font-size: 39px;
		font-family: $rbc;
		font-weight: 400;
		line-height: 44px;
		@media #{$bp-blarge} {
			font-size: 34px;
			line-height: 38px;
		}
		@media #{$bp-large} {
			font-size: 24px;
			line-height: 26px;
		}
		@media #{$bp-medium} {
			font-size: 20px;
			line-height: 22px;
		}
		&_pb {
			padding-bottom: 43px;
			@media #{$bp-blarge} {
				padding-bottom: 20px;
			}
			@media #{$bp-medium} {
				padding-bottom: 10px;
			}
		}
	}
}
.success-list {

	&_border_bottom {
		border-bottom: 1px solid #f0f0f0;
		padding-bottom: 50px;
		margin-bottom: 50px;
		@media #{$bp-blarge} {
			padding-bottom: 30px;
			margin-bottom: 30px;
		}
		@media #{$bp-large} {
			padding-bottom: 15px;
		}
		@media #{$bp-medium} {
			margin-bottom: 20px;
		}
	}


	&__item {
		color: #262626;
		font-size: 18px;
		line-height: 22px;
		font-weight: 400;
		position: relative;
		padding-left: 29px;
		margin: 10px 0;
		@media #{$bp-blarge} {
			font-size: 14px;
			margin: 4px 0;
		}
		@media #{$bp-large} {
			font-size: 12px;
			line-height: 14px;
			padding-left: 20px;
		}
		@media #{$bp-medium} {
			padding-left: 17px;
		}
		&_size_md {
			font-size: 22px;
			line-height: 22px;
			padding-left: 30px;
			margin-top: 12px;
			margin-bottom: 8px;
			@media #{$bp-blarge} {
				font-size: 18px;
				line-height: 19px;
				margin-bottom: 4px;
				margin-top: 4px;
			}
			@media #{$bp-large} {
				font-size: 14px;
				padding-left: 20px;
			}
			@media #{$bp-medium} {
			      font-size: 12px;
			      margin: 2px 0;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:first-child {
			margin-top: 0;
		}
	}
}
.icon-success {
	color: #5faa33;
	position: absolute;
	left: 0;
	font-size: 13px;
	// top: 50%;
	// transform: translateY(-50%);
	top: 5px;
	@media #{$bp-large} {
		font-size: 9px;
	}
	@media #{$bp-medium} {
		font-size: 8px;
	}
}



.form-subtitle {
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
	@media #{$bp-blarge} {
		font-size: 16px;
		line-height: 22px;
	}
	@media #{$bp-large} {
		font-size: 12px;
		line-height: 14px;
	}
	&_margin_minus {
		margin-bottom: -20px;
		@media #{$bp-medium} {
			margin-bottom: 0;
		}
	}
}




.form-wrap {
	background-color: #f9f9f9;
	border: 2px dashed #ededed;
	&_pd {
		padding: 35px 40px 50px;
		@media #{$bp-blarge} {
			padding: 33px 30px;
		}
		@media #{$bp-large} {
			padding: 28px 25px;
		}
		@media #{$bp-medium} {
			padding: 15px;
		}
	}
	&__title {
		font-size: 18px;
		font-weight: 400;
		line-height: 23px;
		margin-bottom: 25px;
		@media #{$bp-blarge} {
			font-size: 16px;
		}
		@media #{$bp-large} {
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 15px;
		}
		@media #{$bp-medium} {
			font-size: 12px;
			line-height: 14px;
		}
	}
}
.form {
	&__input-wrap {
		position: relative;
		margin-bottom: 10px;
		@media #{$bp-large} {
			margin-bottom: 6px;
		}
		&:before {
			color: #8c8c8c;
			position: absolute;
			left: 33px;
			top: 52%;
			transform: translateY(-50%);
			font-size: 13px;
			@media #{$bp-blarge} {
				left: 25px;
			}
			@media #{$bp-large} {
				left: 18px;
				font-size: 10px;
			}
		}
		input {
			width: 100%;
			height: 70px;
			padding-left: 68px;
			border: none;
			outline: none;
			border: 1px solid #ececec;
			border-radius: 3px;
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
			@media #{$bp-blarge} {
				height: 56px;
				padding-left: 54px;
			}
			@media #{$bp-large} {
				height: 42px;
				padding-left: 40px;
				font-size: 12px;
			}
			@media #{$bp-medium} {
				height: 34px;
			}
		}
	}
	button {
		margin-top: 25px;
		@media #{$bp-large} {
			margin-top: 15px;
		}
	}
}

.icon-mail-input_left:before {
	position: absolute;
	left: 33px;
	margin-left: 0;
	top: 50%;
	font-size: 14px;
	-webkit-font-smoothing: initial;
	transform: translateY(-50%);
}
.icon-success-button_left:before {
	position: absolute;
	left: 36px;
	margin-left: 0;
	top: 50%;
	transform: translateY(-50%);
	@media #{$bp-blarge} {
		left: 24px;
		font-size: 9px;
	}
	@media #{$bp-large} {
		font-size: 7px;
		left: 12px;
	}
	@media #{$bp-medium} {
		left: 7px;
		font-size: 5px;
	}
}



.title {
	font-size: 54px;
	font-weight: 400;
	line-height: 60px;
	position: relative;
	font-family: $rbc;
	color: #272727;
	@media #{$bp-blarge} {
		font-size: 42px;
		line-height: 46px;
	}
	@media #{$bp-large} {
		font-size: 32px;
		line-height: 36px;
	}
	@media #{$bp-medium} {
		font-size: 24px;
		line-height: 28px;
	}
	&_dashed {
		padding-bottom: 6px;
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 100%;
			width: 371px;
			height: 0;
			border-bottom: 4px dashed #fff;
			@media #{$bp-blarge} {
				border-width: 3px;
			}
		}
	}
	&_white {
		color: #fff;
	}
	&_small {
		color: #090909;
		font-size: 38px;
		font-family: $rbc;
		@media #{$bp-blarge} {
			font-size: 32px;
		}
		@media #{$bp-large} {
			font-size: 22px;
		}
		@media #{$bp-medium} {
			font-size: 16px !important;
		}
	}
	&_size_md {
		font-size: 52px;
		line-height: 60px;
		@media #{$bp-blarge} {
			font-size: 42px;
			line-height: 46px;
		}
		@media #{$bp-large} {
			font-size: 32px;
			line-height: 36px;
		}
		@media #{$bp-medium} {
			font-size: 22px;
			line-height: 26px;
		}
	}
	&_size_lg {
		font-size: 59px;
		line-height: 60px;
		@media #{$bp-blarge} {
			font-size: 42px;
			line-height: 46px;
		}
		@media #{$bp-large} {
			font-size: 32px;
			line-height: 36px;
		}
		@media #{$bp-medium} {
		      font-size: 22px;
line-height: 26px;
		}

	}
}





.section-2 {
	padding: 26px 0 80px;
	@media #{$bp-large} {
		padding-bottom: 50px;
	}
	@media #{$bp-medium} {
		padding-bottom: 20px;
	}
	.title {
		@media #{$bp-large} {
			font-size: 34px;
			line-height: 38px;
		}
		@media #{$bp-medium} {
			font-size: 24px;
			line-height: 26px;
			&:after {
				width: 163px;
			}
		}
	}
}
.section-2_pattern {
	background: url(../img/bg-2.jpg) center top no-repeat;
	background-size: cover;
}


.main-tabs {

	&__tabs-caption {
		text-align: right;
	}

	&__item {
		width: 254px;
		height: 60px;
		line-height: 60px;
		background-color: #57a335;
		border-radius: 5px 5px 0 0;
		display: inline-block;
		text-align: center;
		text-shadow: 0 1px 0 #66885e;
		color: white;
		font-size: 17px;
		font-weight: 400;
		margin-left: 5px;
		margin-right: 5px;
		position: relative;
		// top: 2px;
		@media #{$bp-large} {
			width: 180px;
			height: 36px;
			line-height: 30px;
		}
		@media #{$bp-medium} {
			height: 32px;
			line-height: 25px;
		}
		&:last-child {
			margin-right: 15px;
		}
		span {
			display: inline-block;
			border-bottom: 1px dotted rgba(255,255,255,.6);
			line-height: 20px;
			border-width: 2px;
			position: relative;
			font-size: 16px;
			@media #{$bp-large} {
				font-size: 12px;
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -25px;
				top: 50%;
				transform: translateY(-40%);
				width: 0;
				height: 0;
				border: 10px solid transparent;
				border-left: 7px solid #fff;
				border-top-width: 5px;
				border-bottom-width: 5px;
			}
		}
	}

	&__item_active {
		background-color: white;
		box-shadow: 0 0 11px rgba(0, 0, 0, 0.24);
		position: relative;
		top: 0;
		&:before {
			content: '';
			display: block;
			position: absolute;	
			left: 0;
			right: 0;
			width: 100%;
			height: 20px;
			bottom: -10px;
			z-index: 2;
			background-color: #fff;
		}
		span {
			color: #6e6e6e;
			border-bottom-color: transparent;
			&:before {
				display: none;
			}
		}
	}

	&__tabs-content {
		display: none;
	}

	&__tabs-content_active {
		display: block;
		position: relative;
		background-color: white;
		border-radius: 5px;
		box-shadow: 0 0 11px rgba(0, 0, 0, 0.24);
		padding: 60px 65px;
		@media #{$bp-blarge} {
			padding: 45px;
		}
		@media #{$bp-large} {
			padding: 35px;
		}
		@media #{$bp-medium} {
			padding: 20px;
		}
	}

	&__video-wrap {
		width: 38%;
		float: left;
		padding-top: 28px;
		position: relative;
		@media #{$bp-large} {
			width: 36%;
		}
		@media #{$bp-medium} {
			width: 33%;
		}
		.video-play {
			margin: auto;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			position: absolute;
			transform: translateX(-70px);
			@media #{$bp-blarge} {
				transform: translateX(-50px);
			}	
			@media #{$bp-large} {
				transform: translateX(-30px); 
			}
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
}


.tabs-text-block {
	float: right;
	width: 45%;
	padding-left: 90px;
	@media #{$bp-large} {
		padding-left: 45px;
	}
	&__title {
		color: #010101;
		font-size: 22px;
		line-height: 27px;
		margin-bottom: 40px;
		@media #{$bp-blarge} {
			font-size: 18px;
			line-height: 22px;
		}
		@media #{$bp-large} {
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 20px;
		}
		@media #{$bp-medium} {
			font-size: 12px;
			line-height: 15px;
			margin-bottom: 12px;
		}
	}
}
.success-list__item_size_s {
	font-size: 16px;
	line-height: 18px;
	margin: 9px 0;
	@media #{$bp-blarge} {
		font-size: 15px;
		margin: 6px 0;
	}
	@media #{$bp-large} {
		font-size: 12px;
		line-height: 13px;
	}
	@media #{$bp-medium} {
		font-size: 11px;
		line-height: 13px;
		margin: 3px 0;
	}
}




.section-price {
	padding-bottom: 155px;
	@media #{$bp-blarge} {
		padding-bottom: 125px;
	}
	@media #{$bp-large} {
		padding-bottom: 95px;
	}
	@media #{$bp-medium} {
		padding-bottom: 60px;
	}
	.title {
		margin-bottom: 38px;
		@media #{$bp-large} {
			margin-bottom: 0px;
		}
	}
	.price-block {
		margin-top: 14px;
		@media #{$bp-medium} {
			margin-top: 10px;
		}
	}
}

.price-block {
	background-color: #fff;
	&__top-img {
		position: relative;
		text-align: center;
		img {
			max-width: 100%;
			height: auto;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			margin-bottom: 45px;
			@media #{$bp-blarge} {
				max-width: 85%;
			}
			@media #{$bp-large} {
				margin-bottom: 10px;
			}
		}
	}

	&__header {
		background-color: #f3f3f3;
		padding: 37px 0;
		padding-left: 48px;
		@media #{$bp-blarge} {
			padding: 25px 0 25px 35px;
		}
		@media #{$bp-large} {
			padding-left: 30px;
		}
		@media #{$bp-medium} {
			padding-left: 25px;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-right: 25px;
		}
	}

	&__header_border_top1 {
		border-top: 6px solid #ffc400;
	}
	&__header_border_top2 {
		border-top: 6px solid #00abdc;
	}
	&__header_border_top3 {
		border-top: 6px solid #ff4300;
	}

	&__title {
		color: #272727;
		font-size: 38px;
		font-family: $rbc;
		@media #{$bp-blarge} {
			font-size: 32px;
		}
		@media #{$bp-large} {
			font-size: 25px;
		}
		@media #{$bp-medium} {
			font-size: 18px;
			line-height: 20px;
		}
	}

	&__dsc {
		color: #010101;
		font-size: 18px;
		font-family: $pts;
		@media #{$bp-blarge} {
			font-size: 15px;
		}
		@media #{$bp-large} {
			font-size: 12px;
		}
		@media #{$bp-medium} {
			line-height: 13px;
		}
	}
}
.price-block-footer {
	background-color: #fafafa;
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 46px;
	@media #{$bp-blarge} {
		padding-left: 35px;
		padding-right: 35px;
	}
	@media #{$bp-large} {
		padding: 30px;
		padding-bottom: 0;
	}
	@media #{$bp-medium} {
		padding: 15px 25px 0 25px;
	}
	&__button {
		margin-top: 46px;
		margin-bottom: 46px;
		@media #{$bp-blarge} {
			margin: 36px 0;
		}
		@media #{$bp-large} {
			margin: 30px 0;
		}
		@media #{$bp-medium} {
			margin: 20px 0;
		}
	}
	table {
		border-collapse: collapse;
		width: 100%;
		tr {
			&:nth-child(odd) {
				background: rgba(235,235,235, .23);
			}
			td {
				color: #010101;
				font-size: 21px;
				border: none;
				padding: 7px 13px;
				@media #{$bp-blarge} {
					font-size: 18px;
				}
				@media #{$bp-large} {
					font-size: 12px;
				}
				&:first-child {
					border-right: 1px solid #eee;
				}
			}
		}
	}
}






.section-demo-set {
	background-color: #f9f9f9;
	padding: 85px 0 90px;
	@media #{$bp-blarge} {
		padding: 65px 0 80px;
	}
	@media #{$bp-large} {
		padding: 50px 0 60px;
	}
	@media #{$bp-medium} {
		padding: 40px 0;
	}
	.main-circle__circle {
		@media #{$bp-medium} {
			width: 27px;
			height: 27px;
		}
	}
	&__title {
		margin-bottom: 63px;
		@media #{$bp-blarge} {
			margin-bottom: 40px;
		}
		@media #{$bp-medium} {
			margin-bottom: 25px;
		}
	}
}

.list-3 {
}
.block-demo {
	padding: 74px 0;
	background-color: white;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 2px 27px rgba(0, 0, 0, 0.02);
	@media #{$bp-blarge} {
		padding: 55px 0;
	}
	@media #{$bp-large} {
		padding: 44px 0;
	}
	@media #{$bp-medium} {
		padding: 26px 0;
	}
	&__item {
		margin-bottom: 20px;
	}

	&__title {
		color: #5aa632;
		font-size: 23px;
		font-weight: 700;
		@media #{$bp-blarge} {
			font-size: 20px;
		}
		@media #{$bp-large} {
			font-size: 16px;
		}
		@media #{$bp-medium} {
			font-size: 12px;
		}
	}

	&__span {
		color: #010101;
		font-size: 16px;
		line-height: 22px;
		@media #{$bp-blarge} {
			font-size: 15px;
			line-height: 18px;
		}
		@media #{$bp-large} {
			font-size: 12px;
			line-height: 14px;
		}
		@media #{$bp-medium} {
			font-size: 11px;
			line-height: 12px;
			margin-top: 5px !important;
		}
	}
}








.section-promo {
	padding: 140px 0 83px;
	@media #{$bp-blarge} {
		padding-top: 100px;
	}
	@media #{$bp-large} {
		padding-top: 80px;
		padding-bottom: 55px;
	}
	@media #{$bp-medium} {
		padding: 55px 0;
	}
	.section-promo-title {
		margin-bottom: 50px;
		@media #{$bp-blarge} {
			font-size: 42px;
			line-height: 46px;
		}

		@media #{$bp-large} {
			font-size: 32px;
			line-height: 36px;
			margin-bottom: 30px;
		}
		@media #{$bp-medium} {
			font-size: 22px;
			line-height: 24px;
		}
	}
	.handout-img {
		position: relative;
		left: -50px;
		@media #{$bp-blarge} {
			left: 0;
			max-width: 80%;
		}
		img {
			max-width: 100%;
			height: auto;
		}
		.video-play {
			position: absolute;	
			margin: auto;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			transform: translate(70px, 60px);
			@media #{$bp-blarge} {
				transform: translate(40px, 0px)
			}
			@media #{$bp-blarge} {
				transform: translate(90px, 20px)
			}
		}
	}
	.abs-promo {
		position: absolute;
		top: 54px;
		right: 0;
		@media #{$bp-blarge} {
			top: 0px;
			width: 38%;
		}
		@media #{$bp-medium} {
			width: 41%;
		}
	}
	&-title {
		color: #272727;
		font-size: 45px;
		line-height: 52px;
		font-family: $rbc;
	}
}

.free-del {
	position: relative;
	left: -30px;
	@media #{$bp-blarge} {
		max-width: 75%;
	}
	@media #{$bp-large} {
		max-width: 78%;
	}
	img {
		max-width: 100%;
		height: auto;
	}
}

.section-gradient {
	.title {
		@media #{$bp-medium} {
			font-size: 22px;
			line-height: 25px;
		}

	}
	.button_md {
		@media #{$bp-blarge} {
			font-size: 13px;
		}
		@media #{$bp-medium} {
			font-size: 10px;
			letter-spacing: 1.38px;
		}
	}
	.free-del-abs {
		position: absolute;
		right: 0;
		top: 190px;
		@media #{$bp-blarge} {
			top: 120px;
		}
		@media #{$bp-large} {
			top: 70px;
		}
		@media #{$bp-medium} {
			top: 55px;
		}
	}
	.deliv-header {
		padding-bottom: 30px;
		margin-bottom: 36px;
		@media #{$bp-blarge} {
			padding-bottom: 25px;
			margin-bottom: 20px;
		}
		@media #{$bp-large} {
			padding-bottom: 20px;
			margin-bottom: 15px;
		}
	}
	.logo-list {
		padding-top: 20px;
	}
	.button {
		margin-top: 30px;
		@media #{$bp-large} {
			margin-top: 15px;
		}
		@media #{$bp-medium} {
			margin-top: 10px;
		}
	}
}

.wrapp-deliv {
	padding: 35px 40px 20px;
	background-color: #fff;
	@media #{$bp-large} {
		padding: 28px 25px;
	}
	@media #{$bp-medium} {
		padding: 15px;
	}

}
.deliv-header_border_bottom {
	border-bottom: 1px solid #ededed;
}

.deliv-bottom {

}
.note {
	color: rgba(1,1,1, .5);
	font-size: 14px;
	font-family: $pts;
	@media #{$bp-blarge} {
		font-size: 12px;
	}
}
.logo-list {

	@media #{$bp-blarge} {
		text-align: center; 
	}
	&__image {
		@media #{$bp-blarge} {

		}
	}
}




.section-gradient {
	background: url(../img/gradient-2.jpg) center top no-repeat;
	background-size: cover;
}

.wave-wrapp {
	padding: 0 8px;
}

.wave-block {
	background-color: #fff;
	margin-top: 210px;
	margin-bottom: 20px;
	padding-bottom: 51px;
	position: relative;
	box-shadow: 0 9px 18px rgba(0, 0, 0, 0.05);
	@media #{$bp-blarge} {
		padding-bottom: 44px;
	}
	@media #{$bp-large} {
		margin-top: 170px;
		padding-bottom: 26px;
	}
	@media #{$bp-medium} {
		margin-top: 100px;
		padding-bottom: 20px;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: -8px;
		top: 0;
		width: 8px;
		height: 100%;
		background: url(../img/wave-l.png) left top repeat-y;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		right: -8px;
		top: 0;
		width: 8px;
		height: 100%;
		transform: rotate(180deg);
		background: url(../img/wave-l.png) left top repeat-y;
	}

	.book {
		margin-top: -130px;
		margin-bottom: 40px;
		@media #{$bp-blarge} {
			margin-bottom: 10px;
		}
		@media #{$bp-medium} {
			margin-top: -60px;
		}
	}
}

.book {
	position: relative;
	.book__text {
		margin-top: 10px;
	}
	&__book-img {
		img {
			max-width: 100%;
			height: auto;
			position: relative;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility:    hidden;
			-ms-backface-visibility:     hidden;
			-webkit-transform: translate3d(0,0,0);
			-moz-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
		}
	}

	&__text {
		color: #010101;
		font-size: 24px;
		line-height: 28px;
		margin: 0;
		@media #{$bp-blarge} {
			font-size: 20px;
			line-height: 24px;
		}
		@media #{$bp-large} {
			font-size: 14px;
			line-height: 18px;
		}
		@media #{$bp-medium} {
			font-size: 12px;
			line-height: 14px;
		}
	}

	&__circle {
		position: absolute;
		right: 25%;
		top: 0;
	}
}




.section-share {
	padding-top: 190px;
	padding-bottom: 140px;
	.get-free__title {
		@media #{$bp-blarge} {
			font-size: 33px;
		}
		@media #{$bp-large} {
			font-size: 24px;
			line-height: 26px;
		}
		@media #{$bp-medium} {
			font-size: 20px;
			line-height: 22px;
		}
	}
	@media #{$bp-blarge} {
		padding-top: 170px;
	}
	@media #{$bp-large} {
		padding-top: 130px;
		padding-bottom: 100px;
	}
	@media #{$bp-medium} {
		padding-top: 65px;
		padding-bottom: 35px;
	}
	.button {
		letter-spacing: 0;
		@media #{$bp-large} {
			font-size: 10px;
		}
		@media #{$bp-medium} {
			font-size: 8px;
		}
	}
	.icon-mail-input {
		@media #{$bp-blarge} {
			display: none;
		}
	}
}


.video-wrapp {
	margin-top: 75px;
	position: relative;
	@media #{$bp-blarge} {
		margin-top: 32px;
	}
	@media #{$bp-large} {
		margin-top: 15px;
	}
	.video-play {
		@extend %center-abs;
		transform: translateX(-120px);
		@media #{$bp-blarge} {
			transform: translateX(0px);
		}
		.show {
			white-space: nowrap;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 100%;
			margin-left: 60px;
			color: white;
			font-size: 20px;
			line-height: 24px;
			font-family: $pts;
			@media #{$bp-large} {
				font-size: 16px;
				line-height: 19px;
				margin-left: 30px;
			}
			@media #{$bp-medium} {
				font-size: 12px;
				line-height: 14px;
			}
		}
	}
	img {
		max-width: 100%;
		height: auto;
	}
}






.note-2 {
	color: #010101;
	font-size: 32px;
	line-height: 36px;
	font-family: $pts;
	@media #{$bp-blarge} {
		font-size: 26px;
		line-height: 36px;
	}
	@media #{$bp-large} {
		font-size: 20px;
	}
	@media #{$bp-medium} {
	      font-size: 14px;
	      line-height: 20px;
	}
}


.slider-1 {
	&_mt {
		margin-top: 60px;
		@media #{$bp-large} {
			margin-top: 30px;
		}
		@media #{$bp-medium} {
		      margin-top: 20px;
		}
	}
	&__img {
		img {
			width: 100%;
			height: auto;
		}
	}
}

.section-const-price {
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 100px;
	@media #{$bp-blarge} {
		padding-bottom: 80px;
	}
	@media #{$bp-large} {
		padding-bottom: 60px;
	}
	@media #{$bp-medium} {
	      padding-bottom: 45px;
	}
	.title {
		margin-bottom: 25px;
		@media #{$bp-blarge} {
			margin-bottom: 15px;
		}
		@media #{$bp-large} {
			margin-bottom: 0px;
		}
	}
}



.box-text {
	&__item-top {
		margin-bottom: 15px;
		@media #{$bp-blarge} {
			margin-bottom: 7px;
		}
	}
	&_pd {
		margin-top: 170px;
		@media #{$bp-large} {
			margin-top: 100px;
		}
		@media #{$bp-medium} {
		      margin-top: 50px;
		}
	}
}
.top-title {
	font-size: 31px;
	font-weight: 700;
	font-family: $rbc;
	@media #{$bp-blarge} {
		font-size: 24px;
	}
	@media #{$bp-large} {
		font-size: 18px;
	}
	@media #{$bp-medium} {
	      font-size: 13px;
	}
	&_color_green {
		color: #5aa632;
	}
	&_size_s {
		font-size: 26px;
		@media #{$bp-blarge} {
			font-size: 20px;
		}
		@media #{$bp-large} {
			font-size: 15px;
		}
		@media #{$bp-medium} {
		      font-size: 12px;
		}
	}
}

.sub-title {
	color: #010101;
	font-size: 18px;
	line-height: 22px;
	@media #{$bp-large} {
		font-size: 14px;
		line-height: 16px;
	}
	@media #{$bp-medium} {
	      font-size: 12px;
line-height: 13px;
	}
}


.section-about-us {
	padding: 135px 0 65px;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 140px;
	@media #{$bp-blarge} {
		padding-bottom: 35px;
	}
	@media #{$bp-large} {
		padding: 80px 0 30px;
		margin-bottom: 80px;
	}
	@media #{$bp-medium} {
	      padding-top: 60px;
	      padding-bottom: 15px;
	      margin-bottom: 40px;
	}
}


.container__box-border {
	margin-top: 20px;
}

.box-border {
	background-color: whitesmoke;
	padding: 30px;
	position: absolute;
	width: 30%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.box-plus {
	background-color: white;
	&_pd {
		padding: 70px 0;
		@media #{$bp-large} {
			padding: 30px 0;
		}
		@media #{$bp-medium} {
		      padding: 15px 0;
		}
	}
	&__left-top {
		left: -23px;
		top: -23px;
	}
	&__logo {
		margin: 0 auto;
	}

	&__rigth-top {
		right: -23px;
		top: -23px;
	}

	&__right-bottom {
		right: -23px;
		bottom: -23px;
	}

	&__left-bottom {
		left: -23px;
		bottom: -23px;
	}
}


.circle-plus {
	width: 46px;
	height: 46px;
	background-color: white;
	border: 8px solid #ff9f00;
	border-radius: 50%;
	position: relative;
	@media #{$bp-blarge} {
		width: 37px;
		height: 37px;
	}
	@media #{$bp-medium} {
	      width: 21px;
	      height: 21px;
	      border-width: 2px;
	}
	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	&:before {
		width: 2px;
		height: 16px;
		background-color: #ffc400;
		@media #{$bp-blarge} {
			height: 12px;
		}
		@media #{$bp-medium} {
		      height: 8px;
		}
	}
	&:after {
		height: 2px;
		width: 16px;
		background-color: #ffc400;
		@media #{$bp-blarge} {
			width: 12px;
		}
		@media #{$bp-medium} {
		      width: 8px;
		}
	}
	&_abs {
		position: absolute;
	}
}


.map-text-left {
	float: left;
}

.map-text-left__layout {
	padding-left: 30px;
	margin-top: 50px;
	@media #{$bp-blarge} {
		margin-top: 30px;
	}
	@media #{$bp-large} {
		padding-left: 10px;
		margin-top: 14px;
	}
}


.section-mapimage {
	padding-top: 20px;
	.icon-success {
		font-size: 14px;
		@media #{$bp-large} {
			font-size: 10px;
		}
	}
	&__button {
		margin-top: -35px;
	}
}

.container {
	position: relative;
}


.map-image-main {
	position: absolute;
	right: 80px;
	text-align: right;
	top: 0;
	width: 100%;
	margin-top: 0px;
	@media #{$bp-blarge} {
		width: 70%;
	}
	@media #{$bp-large} {
		width: 74%;
		right: 30px;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		height: 305px;
		background-image: linear-gradient(180deg, white 0%, transparent 100%);
		@media #{$bp-large} {
			height: 150px;
		}
	}
	img {
		max-width: 100%;
		height: auto;
		@media #{$bp-large} {
			margin-top: 70px;
		}
		@media #{$bp-medium} {
		      margin-top: 40px;
		}
	}
}


.count {
	position: relative;
	box-shadow: inset 0 0 0px 21px #ffc400;
	text-align: center;
	padding: 80px 100px;
	@media #{$bp-blarge} {
		padding: 60px 70px;
	}
	@media #{$bp-large} {
		padding: 54px 70px;
	}
	@media #{$bp-medium} {
	      padding: 35px 55px;
	}
	&_pd {
		padding: 60px 80px;
		margin-top: 70px;
		@media #{$bp-blarge} {
			padding: 60px 70px;
		}
		@media #{$bp-medium} {
	      padding: 35px 55px;
	}

	}
	&_right {
		float: right;
	}
	&_left {
		float: left;
	}

	&__numb {
		color: #1f1f1f;
		font-size: 67px;
		font-family: $rbc;
		font-weight: 700;
		letter-spacing: 1.58px;
		display: inline-block;
		background-color: #fff;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translate(-50%, -50%);
		padding-left: 25px;
		padding-right: 25px;
		@media #{$bp-blarge} {
			font-size: 57px;
		}
		@media #{$bp-large} {
			font-size: 44px;
			letter-spacing: 1.04px;
		}
		@media #{$bp-medium} {
		      font-size: 34px;
letter-spacing: 0.8px;
padding-left: 15px;
padding-right: 15px;
		}
	}

	&__span {
		color: #010101;
		font-size: 24px;
		line-height: 26px;
		@media #{$bp-blarge} {
			font-size: 21px;
			line-height: 24px;
		}
		@media #{$bp-large} {
			font-size: 16px;
			line-height: 16px;
		}
		@media #{$bp-medium} {
		      font-size: 12px;
line-height: 14px;
		}
		&_size_lg {
			font-size: 34px;
			line-height: 35px;
			@media #{$bp-blarge} {
				font-size: 24px;
				line-height: 25px;
			}
			@media #{$bp-large} {
				font-size: 16px;
				line-height: 16px;
			}
			@media #{$bp-medium} {
			      font-size: 12px;
line-height: 14px;
			}
		}
	}
}









.section-catalog-form {
	padding: 360px 0 165px;
	@media #{$bp-blarge} {
		padding: 260px 0 110px;
	}
	@media #{$bp-large} {
		padding: 220px 0 90px;
	}
	@media #{$bp-medium} {
	      padding: 90px 0 60px;
	}
	.form-wrap__title {
		@media #{$bp-large} {
			font-size: 13px;
		}
		@media #{$bp-medium} {
		      font-size: 12px;
line-height: 14px;
		}
	}
	.catalog-img {
		position: relative;

		margin-top: -360px;
		@media #{$bp-blarge} {
			margin-top: -260px;
		}
		@media #{$bp-large} {
			margin-top: -200px;
		}
		@media #{$bp-medium} {
		      margin-top: -110px;
		}
		img {
			max-width: 100%;
			height: auto;
			position: relative;
			left: -60px;
			@media #{$bp-large} {
				left: -40px;
			}
		}
	}
	.image-img {
		position: relative;
		margin-top: -150px;
		@media #{$bp-blarge} {
			max-width: 80%;
			margin-top: -80px;
		}
		@media #{$bp-medium} {
		      margin-top: -60px;
		}
		img {
			max-width: 100%;
			height: auto;
			position: relative;
			left: 75px;
			@media #{$bp-medium} {
			      left: 30px;
			}
		}
		.arrow {
			position: absolute;
			right: 0;
			bottom: 210px;
			@media #{$bp-blarge} {
				bottom: 170px;
				left: 75%;
				right: auto;
			}
			@media #{$bp-large} {
				bottom: 120px;
			}
			@media #{$bp-medium} {
			      bottom: 100px;
			}
		}
	}
}


.section-slider-2 {
	margin-bottom: 130px;
	@media #{$bp-blarge} {
		margin-bottom: 110px;
	}
	@media #{$bp-large} {
		margin-bottom: 80px;
	}
	@media #{$bp-medium} {
	      margin-bottom: 50px;
	}
	&__mb {
		margin-bottom: 65px;
		@media #{$bp-blarge} {
			margin-bottom: 40px;
		}
		@media #{$bp-large} {
			margin-bottom: 30px;
		}
	}
}



.section-partners {
	.title {
		margin-bottom: 80px;
		@media #{$bp-blarge} {
			margin-bottom: 50px;
		}
		@media #{$bp-large} {
			margin-bottom: 30px;
		}
	}
}


.section-slider-2 {
	.button {
		margin-top: 60px;
		@media #{$bp-blarge} {
			margin-top: 50px;
			font-size: 13px;
		}
		@media #{$bp-large} {
			margin-top: 30px;
		}
		@media #{$bp-medium} {
		      font-size: 10px;
letter-spacing: 1.5px;
margin-top: 25px;
		}
	}
}



.slider-2 {

	&__main-img {
		width: 100%;
		height: auto;
		max-width: 100%;
	}
	&__wrapp {
		position: relative;
	}

	&__head {
		position: absolute;
		width: 100%;
		top: 30px;
		left: 60px;
		img {
			float: left;
			margin-right: 30px;
			@media #{$bp-large} {
				margin-right: 20px;
				width: 56px;
			}
			@media #{$bp-medium} {
			      width: 40px;
			}
		}
	}

	&__text-top {
		color: white;
		font-size: 53px;
		font-family: $rbc;
		@media #{$bp-medium} {
		      font-size: 33px;
		}
	}

	&__text-bottom {
		color: white;
		font-size: 20px;
		font-family: $pts;
		@media #{$bp-blarge} {
			font-size: 16px;
			line-height: 20px;
		}
		@media #{$bp-large} {
			font-size: 14px;
		}
		@media #{$bp-medium} {
		      font-size: 12px;
line-height: 14px;
		}
	}
}









.partners {
	background-color: #f7f7f7;
	border-radius: 3px;
}
.slider-lg-item {
	&>div:nth-child(3n+1) {
		clear: left;
	}
	&>div:not(:nth-child(3n)) {
		padding-left: 140px;
		@media #{$bp-large} {
			padding-left: 70px;
		}
	}

	&>div {
		margin: 60px 0;
		@media #{$bp-large} {
			margin: 30px 0;
		}
	}
}
.partner-box {

@media #{$bp-medium} {
      text-align: center;
      padding: 20px 10px;
}
	&__img {
		line-height: 81px;
		margin-bottom: 20px;
		@media #{$bp-large} {
			margin-bottom: 10px;
		}
		img {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			@media #{$bp-large} {
				max-width: 55%;
				height: auto;
			}
			@media #{$bp-medium} {
			      margin-left: auto;
			      margin-right: auto;
			}
		}
	}

	&__title {
		color: #404042;
		font-size: 28px;
		font-weight: 700;
		letter-spacing: 0.5px;
		font-family: $pts;
		@media #{$bp-blarge} {
			font-size: 24px;
			letter-spacing: 0.43px;
		}
		@media #{$bp-large} {
			font-size: 18px;
			letter-spacing: 0.32px;
		}
	}

	&__sub {
		color: #404042;
		font-size: 28px;
		letter-spacing: 0.5px;
		font-family: $pts;
		@media #{$bp-blarge} {
			font-size: 18px;
			letter-spacing: 0.32px;
		}
		@media #{$bp-large} {
			font-size: 14px;
			letter-spacing: 0.25px;
		}
	}
}






.section-video-slider {
	padding-top: 130px;
	@media #{$bp-large} {
		padding-top: 85px;
	}
	@media #{$bp-medium} {
	      padding-top: 40px;
	}
	.title {
		margin-bottom: 80px;
		@media #{$bp-large} {
			margin-bottom: 30px;
		}
	}
}


.slider-3 {
	background-color: #f8f8f8;
	border-radius: 3px;
	padding-right: 130px;
	margin-bottom: 46px;
	@media #{$bp-large} {
		padding-right: 50px;
	}
	@media #{$bp-medium} {
	      padding-right: 15px;
	}
	.slick-dots {
		bottom: -46px;
		li button {
			border: 2px solid lightgrey;
		}
		li.slick-active button {
			border: 2px solid #ff9f00;
		}
	}
	p {
		color: #010101;
		font-size: 14px;
		@media #{$bp-large} {
			font-size: 12px;
		}
		&+p {
			margin-top: 35px;
			@media #{$bp-blarge} {
				margin-top: 25px;
			}
			@media #{$bp-large} {
				margin-top: 20px;
			}
		}
		i {
			font-style: italic;
			color: #272727;
			font-size: 14px;
		}
	}
}

.video-l {
	width: 90%;
	height: auto;
	max-width: 100%;
	height: 100%;
	position: relative;
	@media #{$bp-large} {
		width: 100%;
	}
	.video-play {
		@extend %center-abs;
	}

	&__item {
		width: 100%;
		max-width: 100%;
		height: 100%;
	}
}
.r-text {
	padding-top: 40px;
	@media #{$bp-large} {
		padding-top: 25px;
	}
}
.name {
	color: #010101;
	font-size: 34px;
	@media #{$bp-blarge} {
		font-size: 24px;
	}
	@media #{$bp-large} {
		font-size: 18px;
	}
}








.section-maps {
	padding-top: 80px;
	@media #{$bp-blarge} {
		padding-top: 70px;
	}
	@media #{$bp-large} {
		padding-top: 55px;
	}
	@media #{$bp-medium} {
	      padding-top: 25px;
	}
	.title {
		margin-bottom: 80px;
		@media #{$bp-blarge} {
			margin-bottom: 65px;
		}
		@media #{$bp-large} {
			margin-bottom: 35px;
		}
		@media #{$bp-medium} {
		      padding-bottom: 20px;
		}
	}
	.icon-phone-input {
		margin-right: 6px;
		font-size: 12px;
		@media #{$bp-large} {
			font-size: 10px;
		}
	}

}
.js-map {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

}

.map-wrap {
	position: relative;
	width: 48%;
	padding-top: 70px;
	padding-bottom: 180px;
	@media #{$bp-blarge} {
		padding-bottom: 130px;
		padding-top: 50px;
	}
	@media #{$bp-large} {
		padding-bottom: 110px;
	}
	@media #{$bp-medium} {
	      padding: 30px 0 75px;
	}
}
.place-box {
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 2px 21px rgba(0, 0, 0, 0.13);
	position: relative;
	display: inline-block;
	@media #{$bp-blarge} {
		width: 375px;
	}
	@media #{$bp-large} {
		width: 280px;
	}
	@media #{$bp-medium} {
	      width: 209px;
	}
	&.right {
		margin-right: 50px;
	}
	&.left {
		margin-left: 50px;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-top: 20px solid #fff;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		@media #{$bp-large} {
			border: 10px solid transparent;
			border-top: 10px solid #fff;		      
		}
	}
	p {
		color: black;
		font-size: 20px;
		letter-spacing: 0.47px;
		line-height: 26px;
		padding-left: 40px;
		@media #{$bp-blarge} {
			font-size: 16px;
			letter-spacing: 0.38px;
			line-height: 20px;
			margin: 10px 0;
		}
		@media #{$bp-large} {
			font-size: 13px;
			line-height: 15px;
			padding-left: 20px;
		}
		@media #{$bp-medium} {
		      font-size: 10px;
line-height: 12px;
		}
	}
	&__image {
		img {
			width: 100%;
			height: auto;
			max-width: 100%;
		}
	}

	&__sub {
		color: rgba(8,8,8, .5);
		font-size: 18px;
		@media #{$bp-blarge} {
			font-size: 16px;
		}
		@media #{$bp-large} {
			font-size: 12px;
		}
		@media #{$bp-medium} {
		      font-size: 10px;
		}
	}
}
.wrapp {
	padding-left: 40px;
	padding-top: 25px;
	@media #{$bp-large} {
		padding-left: 20px;
		padding-top: 20px;
	}
	@media #{$bp-medium} {
	      padding-top: 10px;
	}
	.top-title {
		display: inline-block;
		vertical-align: baseline;
	}
	.place-box__sub {
		display: inline-block;
		vertical-align: baseline;
		margin-left: 10px;
	}
}

.phone-sub {
	color: black;
	font-size: 17px;
	letter-spacing: 0.4px;
	line-height: 26px;
	position: relative;
	padding-left: 40px;
	padding-bottom: 25px;
	@media #{$bp-blarge} {
		font-size: 17px;
		letter-spacing: 0.4px;
	}
	@media #{$bp-large} {
		font-size: 14px;
		letter-spacing: 0.33px;
		padding-left: 20px;
		padding-bottom: 20px;
	}
	@media #{$bp-medium} {
	      font-size: 12px;
letter-spacing: 0.28px;
padding-bottom: 10px;
	}
}




.form_w50 {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}


.section-last-form {
	padding-top: 105px;
	background: url(../img/footer.jpg) center top no-repeat;
	background-size: cover;
	@media #{$bp-large} {
		padding-top: 60px;
	}
	@media #{$bp-medium} {
	      padding-top: 40px;
	}
	.last-form__dsc {
		margin: 10px 0 8px;
	}
	.last-form__sub {
		margin-bottom: 25px;
		@media #{$bp-medium} {
		      margin-bottom: 15px;
		}
	}
}
.last-form {
	position: relative;
	z-index: 2;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	@media #{$bp-medium} {
	      width: 55%;
	}
	&__img {
		position: relative;
		img {
			max-width: 100%;
			height: auto;
			@media #{$bp-blarge} {
				max-width: 90%;
			}
		}
	}

	&__content {
		position: relative;
		padding-top: 80px;
		padding-bottom: 80px;
		background-color: #fafafa;
		border-radius: 3px;
		box-shadow: 0 2px 27px rgba(0, 0, 0, 0.09);
		@media #{$bp-blarge} {
			padding-top: 65px;
			padding-bottom: 70px;
			.button {
				font-size: 16px;
				@media #{$bp-medium} {
				      font-size: 10px;
letter-spacing: 1.5px;
				}
			}
		}
		@media #{$bp-large} {
			padding-top: 55px;
			padding-bottom: 50px;
		}
		@media #{$bp-medium} {
		      padding: 35px 10px;
		}
	}

	&__dsc {
		color: #262626;
		font-size: 23px;
		line-height: 32px;
		@media #{$bp-large} {
			font-size: 16px;
			line-height: 19px;
			margin: 5px 0;
		}
		@media #{$bp-medium} {
		      font-size: 13px;
		      margin: 2px 0 !important;
		}
	}

	&__sub {
		color: #262626;
		font-size: 18px;
		line-height: 22px;
		@media #{$bp-large} {
			font-size: 12px;
			line-height: 15px;
		}
		@media #{$bp-medium} {
		      font-size: 11px;
line-height: 12px;
		}
	}
}


.footer {
	position: relative;
	width: 100%;
	margin-top: -155px;
	padding-bottom: 60px;
	@media #{$bp-blarge} {
		margin-top: -100px;
		padding-bottom: 35px;
	}
}

.f-left {
	margin-top: 70px;
	@media #{$bp-blarge} {
		margin-top: 0;
	}
}
.addr {
	color: rgba(1,1,1, .33);
	font-size: 12px;
	font-family: $pts;
	@media #{$bp-medium} {
	      font-size: 8px;
	}
}

.f-right {
	float: right;
	text-align: right;
}



.up-block {
	text-align: center;
	padding-top: 75px;
	@media #{$bp-blarge} {
		padding-top: 90px;
	}
	&__link {
		display: inline-block;
		color: #5aa632;
		font-size: 14px;
		font-weight: 700;
		border-bottom: 1px solid #5aa632; 
		cursor: pointer;
	}

	&__copy {
		margin-top: 8px;
		color: rgba(1,1,1, .33);
		font-size: 12px;
		a {
			color: rgba(1,1,1, .33);
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}



.custom-col-1 {
	width: 58% !important;
	@media #{$bp-large} {
		width: 66.66666667% !important;
	}
	@media #{$bp-medium} {
	      width: 50% !important;
	}
}
.custom-col-2 {
	width: 42% !important;
	padding-bottom: 50px;
	@media #{$bp-large} {
		width: 33.33333333% !important;
		padding-bottom: 20px;
	}
	@media #{$bp-medium} {
	      width: 50% !important;
	}
}